# Default ignored files
/shelf/
/workspace.xml

# user defined
__pycache__/
.idea/
chrome-win64/
chromedriver.exe
ffmpeg-6.1-full_build/
params/__pycache__/
params/credentials.json
params/token.pickle